<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>en</string>
	<string>Kyper</string>
	<string>$(EXECUTABLE_NAME)</string>
	<dict/>
	<dict/>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<string>6.0</string>
	<string>$(PRODUCT_NAME)</string>
	<string>APPL</string>
	<string>$(MARKETING_VERSION)</string>
	<string>????</string>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<string>ca-app-pub-1778988557303127~7105663047</string>
	<string> &lt;key&gt;NSAppTransportSecurity&lt;/key&gt;
 &lt;dict&gt;
      &lt;key&gt;NSAllowsArbitraryLoads&lt;/key&gt;
     &lt;true/&gt;
 &lt;/dict&gt;</string>
	<array>
		<string>whatsapp</string>
	</array>
	<true/>
	<false/>
	<string>pk.eyJ1IjoiZG9uZWxreXMiLCJhIjoiY2x2YjY4bngyMDR1NzJrbWxkcXdmZDg3YSJ9.jOZgAgV_BfYAQXosGIvBxQ</string>
	<string>pk.eyJ1IjoiZG9uZWxreXMiLCJhIjoiY2x2YjY4bngyMDR1NzJrbWxkcXdmZDg3YSJ9.jOZgAgV_BfYAQXosGIvBxQ</string>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<string>La app necesita acceder a la camara para tomar la foto de su perfil</string>
	<string>La app necesita acceder a tus contactos para que puedas pasarle YAPA.</string>
	<string>La app permite utilizar Face ID para autenticarse.</string>
	<string>La app necesita acceder a tu localización para buscar los taxis más cercanos. Además se envia al conductor para que sepa el punto exacto de recogida.</string>
	<string>La app necesita acceder al micrófono para que usted pueda Enviar mensaje de voz al conductor.</string>
	<string>YES</string>
	<array>
		<string>Muli-Bold.ttf</string>
		<string>Muli-SemiBold.ttf</string>
		<string>Muli.ttf</string>
		<string>DS-DIGII.TTF</string>
		<string>DS-DIGI.TTF</string>
	</array>
	<array>
		<string>audio</string>
	</array>
	<string>Launch Screen</string>
	<string>Login</string>
	<array>
		<string>armv7</string>
	</array>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<string>Light</string>
</array>
</plist>
